/*  Fonts
-----
font-family: 'Lora', serif;
font-family: 'Ubuntu', sans-serif;
*/
h1,
h2,
p {
  margin: 0;
}
body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

/* =================
Typography
================= */

h1 {
  font-family: "Lora", serif;
  font-weight: 400;
  color: #143774;
  font-size: 2rem;
  margin: 0;
}

.subtitle {
  font-weight: 700;
  color: #1792d2;
  font-size: 0.75rem;
  margin: 0;
}

/* =================
Layout
================= */

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.container-nav {
  display: flex;
  justify-content: space-between;
}

header {
  background: #f8f8f8;
  padding: 2em 0;
}

@media (max-width: 675px) {
  .container-nav {
    flex-direction: column;
  }

  header {
    text-align: center;
  }
}

/* navigation */

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  color: #707070;
  font-weight: 700;
  padding: 0.25em 0;
}

nav a:hover,
nav a:focus {
  color: #1792d2;
}

.current-page {
  border-bottom: 1px solid #707070;
}

.current-page:hover {
  color: #707070;
}

@media (max-width: 675px) {
  nav ul {
    flex-direction: column;
  }

  nav li {
    margin: 0.5em 0;
  }
}
footer {
  margin-top: 2em;
  background-color: #143774;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #e3e2e288;
  font-size: 1.2rem;
  font-weight: bold;
}
footer #copy {
  font-weight: normal;
  color: #a6a2a28b;
}
body img {
  object-fit: cover;
}

.columns {
  font-family: "Lora", serif;
  display: flex;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 2em;
  gap: 1em;
}
.columns > .col1 > .row1 * {
  margin: 0.5em 0;
}
.columns > .col1 > .row1 {
  width: min-content;
}
.columns > .col1 > .row1 img {
  margin: 0;
  height: 308px;
}
.columns > .col2 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 1em;
  text-align: center;
  border: 2em solid #ebebeb;
  color: #143774;
  text-transform: uppercase;
  width: min-content;
  height: auto;
  margin: 0;
}
.col2 > .col-inner1,
.col2 > .col-inner2,
.col2 > .col-inner3 {
  width: min-content;
}
.col2 > .col-inner1 > img,
.col2 > .col-inner2 > img,
.col2 > .col-inner3 > img {
  width: 150px;
  height: 133px;
  margin: 0 auto;
  object-fit: cover;
}

@media (max-width: 1020px) {
  .columns {
    flex-direction: column;
    width: 100%;
  }
  .col1 > .row1 {
    width: 90%;
    margin: 0 auto;
  }
  .col2 {
    width: 90% !important;
    margin: 0 auto !important;
  }
  .col-inner1,
  .col-inner2,
  .col-inner3 {
    width: 100% !important;
  }
  .col-inner1 img,
  .col-inner2 img,
  .col-inner3 img {
    width: 100% !important;
    margin: 1.5em auto !important;
  }
}
